.field{
    z-index: -2;
}
.field td{
    width: 50px;
    height: 50px;
    background-image: url(../img/closed.png);
    background-size: cover;
    position: relative;
}
.field td.open{
    background-image: url("../img/pressed.png");
    text-align: center;
    line-height: 50px;
    font-size: 24px;

}
.field td.lock:after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image:url("../img/flag.png") ;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.field td.bomb-what-is-first{
    background-image: url("../img/mine_red.png");
}
.field td.bomb-all{
    background-image: url("../img/mine.png");
}

.bg-modal-window{
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
}
.modal-window{
    border: 5px solid green;
    background-color: #f1ad1d;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

#form{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../img/WOT-C_Illustration_Dark-Horse_Boilermaker_3600x2025px_NA.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows: 40px 1fr 80px;
    grid-template-areas: "title title"
    "select-stock select-custom"
    "btn-start-game btn-start-game";
    width: 1200px;
    height: 600px;
    padding: 75px;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    justify-items: center;
    align-items: stretch;
    z-index: 1;
}
.title{
    grid-area: title;
}
.select-stock{
    grid-area: select-stock;
}
.select-custom{
    grid-area: select-custom;
}
.select-custom, .select-stock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#btn-start-game{
    grid-area: btn-start-game;
    background-color: darkmagenta;
}
#btn-start-game:hover{
    background-color: #89488b;
}

.button-on-page, #btn-start-game{
    width: 300px;
    height: 75px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
}
.description-item{
    color: white;
}
.junior-item {
    background-color: green;
}
.junior-item:hover{
    background-color: #528061;
}
.middle-item{
    background-color: orange;
}
.middle-item:hover{
    background-color: #ffd96e;
}
.senior-item{
    background-color: darkred;
}
.senior-item:hover{
    background-color: #8b5653;
}
.custom-item{
    background-color: blue;
}
.custom-item:hover{
    background-color: #575dff;
}
.range-height, .range-width,.range-amount-mine{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#range-height-information, #range-width-information, #range-amount-mine-information{
    width: 30px;
    color: white;
    font-size: 22px;
}
.description-tool-name, .description-tool-property{
    font-size: 24px;
    color: white;
}
