# folder ignore
*/.idea/
homework10
homework11
homework12
homework13
homework14
homework15
homework18_optional
homework19_optional
homework20_optional
homework21_optional
homework22_optional
homework23_optional
homework24_optional
homework25_optional
homework5
homework6
homework7
homework8
homework9
#files ignore
*.iml
*.xml
README.md
Руководство по выполнению домашних заданий по Javascript.md