ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}
.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

/*скрываю через стили бо js не успевает настолько быстро отработать что бы скрытие отработало моментально*/
.tabs-content>li{
    display: none;
}

/*классы отвечающие за активное состояние*/
.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
}
.tabs-content>li.activeText{
    display: list-item;
}