.container{
    width: 1070px;
    margin: 0 auto;
    padding-top: 50px;
}
.header-logo{
    display: block;
    float: left;
    width: 167px;
}
.header-logo:hover .header-logo-img{
    background-image: url("../img/logo.png");
}
.header-logo:hover .header-logo-slogan{
    color: rgb(242,101,34);
}
.header-logo-img{
    background: url("../img/logo2.png");
    width: 46px;
    height: 44px;
    float: left;
    margin-right: 12px;
}
.header-logo-slogan{
    font-size: 29px;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 22px;
}
.header-logo-slogan>span{
    font-size: 18px;
}
.header-contacts{
    float: right;
    text-align: right;
    width: 220px;
}
.header-contacts>p{
    font-size: 18px;
    text-align: right;
}
.header:after{
    content: "";
    display: block;
    clear: both;
}
.content{
    margin-top: 48px;
    text-align: center;
}
.pack-box{
    display: block;
    width: 308px;
    margin-bottom: 50px;
}
.block{
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;

}
.block-info{
    position: absolute;
    width: 100%;
    bottom: -69px;

    transition: 0.5s linear;
}

.block-price{
    float: left;
    margin: 16px 22px;
    font-size: 20px;
}
.block-price>p:first-child{
    font-size: 10px;
}
.block-details{
    float: right;
    margin-top: 36px;
    margin-right: 18px;
    font-size: 14px;
}
.block-details>p:after{
    content: '\00A0\003E';
}
.block-info:after{
    content: "";
    display: block;
    clear: both;
}
.pack-box:hover .block-info {
    bottom: 0;
}
.block-text{
    font-size: 18px;
    padding-top: 21px;
    text-align: center;
}
.pack-box:hover .block-text{
    color: #f26522;
}
.group-blocks-left{
    float: left;
}
.group-blocks-center{
    display: inline-block;
}
.group-blocks-right{
    float: right;
}
.content:after{
    content: "";
    display: block;
    clear: both;
}
.footer{
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}
#changeMode{
    position: fixed;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;

    text-transform: uppercase;
    border-radius: 50%;
    left: 96%;
    top: 10%;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
}